$color1 : #7B46C7;
$black : #090909;
$bottomWidth: 15%;
$txShadow: 2px 3px 20px #4d4d4d6a;
$bxShadow : rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
$breakpoints: (
  "mobile": 480px,
  "tablet": 768px,
  "laptop": 1024px,
  "notebook": 1366px,
  "desktop": 1600px,
  "widescreen": 1920px,
  "ultrawide": 2560px
);
    
@font-face {
    font-family: Notos;
    src: url(../fonts/NotoSansTC-ExtraBold.ttf);
}

@mixin all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin vicelayerDeco{
    background-color: rgba(255, 255, 255, 0);
    border-radius: 15px;
    backdrop-filter: blur(15px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-sizing: border-box;
}
@mixin layerDeco{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    backdrop-filter: blur(20px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    box-sizing: border-box;
}

.op0{
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}
.divNone{
    display: none !important;
}
.redT{
    color: rgb(225, 47, 47) !important;
}
.wrap{
    flex-direction: column
}

.allCenter{
    @include all-center();
}
.currentC h4{
    color: $color1 !important;
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
    
}